<div class="recipe">
  <div class="recipe-container">
    <div class="recipe-card">
      <div class="recipe-card-holder">
        <ng-container *ngFor="let rep of recipes">
          <div (click)="selectRecipe(rep)" class="recipe-card-items">
            <img src="{{ serverURL }}{{ rep.images.full }}" />
            <p>{{ rep.title }}</p>
          </div>
        </ng-container>
      </div>
    </div>
    <img
      *ngIf="!isLoading"
      class="recipe-selected--image"
      src="{{ serverURL }}{{ selectedItem.images.full }}"
    />
    <div *ngIf="!isLoading" class="recipe-text-holder display-table">
      <div class="recipe-text display-table__cell">
        <h3 class="title">{{ selectedItem.title }}</h3>
        <p class="desc">{{ selectedItem.description }}</p>
        <div class="info">
          <h5 class="info-title">Method</h5>
          <p class="info-label">
            Servings: <span>{{ selectedItem.servings }}</span>
          </p>
          <p class="info-label">
            Prep Time: <span>{{ selectedItem.prepTime }} minute(s)</span>
          </p>
          <p class="info-label">
            Cook Time: <span>{{ selectedItem.cookTime }} minute(s)</span>
          </p>
          <p class="info-label">Ingredients:</p>
          <ul class="info-list">
            <ng-container *ngFor="let int of selectedItem.ingredients">
              <li>
                <i></i>{{ int.amount }} {{ int.measurement }} {{ int.name }}
              </li>
            </ng-container>
          </ul>
          <p class="info-label">Directions:</p>
          <ul class="info-list">
            <ng-container *ngFor="let dir of selectedItem.directions">
              <li><i></i>{{ dir.instructions }}</li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
